.header,.container {
  width: 100%;
}
.tjly ,.zxhfly{
  width: 1000px;
  margin:0 auto;
}
.head {
  margin-bottom: 20px;
}
.tjly .image {
  height: 120px;
}
.zxhfly .image {
  height: 160px;
}